/* SPOTLIGHT AND EXPLORE PAGE STYLES */


.html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Quicksand", sans-serif;
}

.WelcomeGraphic2Container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}


.title1 {
  /*color: rgb(15, 11, 13);*/
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-wrap: wrap;
}

.title2 {
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-wrap: wrap;
}

.text1 {
  /*color: rgb(15, 11, 13);*/
  color: rgb(0, 0, 0);
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-wrap: wrap;
}

.text2 {
  /*color: rgb(15, 11, 13);*/
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-wrap: wrap;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box1 {
  margin-top: 3%;
  background-color: #feb6c1;
  /*padding: 0 1.0rem;*/
  padding: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  flex-basis: 100%;
  float: left;
  /*display: flex;*/
  /*flex-direction: row;*/
}

.box2 {
  margin-top: 3%;
  background-color: #1b3a5d;
  /*padding: 0 1.0rem;*/
  padding: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  flex-basis: 100%;
  float: right;
}


.qualtricsButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  text-align: center;
  border: #fefaf6;
  border-style:groove;
  font-weight: bold;
}

.qualtricsButton a:hover { /* Change the background color on mouse-over */
  font-size: 2.5rem;
}

.footer {
  margin-top: 1%;
  width: 90%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  background-color: #1b3a5d;
  justify-content: center;
}

.footertext {
  color: rgb(255, 255, 255);
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .boxContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

}